.container{
    display:flex;
    justify-content:center;
    align-items: center;
    height:100%;
    background-color:rgb(255, 191, 128);
}
.box{
    height:560px;
    width:220px;
    background-color:rgb(61, 51, 41);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}
.upper{
    background-color: white;
    height:40%;
    width:70%;
    margin-left:30px;
    border: 10px solid lightgrey;
    border-radius: 10px;

}
.lower{
    
}
p{
    color:white;
}
.lower-top{
    

    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.lower-bottom{

    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.btn{
    color:white;
    background-color: black;
}
.mybtn{
    width:60px;
    color:white;
}
.line{
    border-top:1px dotted white;
}
#heading{
    color:white;
    margin-left:40px;
}
#time{
    color:skyblue;
    margin-top:70px;
    margin-left:20px;
}
#breakTimeHeading{
    color:red;
    font-size: 40px;
   margin-left:40px;
}